.contenedor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #b4e41c;
  color: white;
}

.text-danger {
  margin-left: 7px;
}

input.ng-invalid.ng-touched {
  border: solid 1px red;
}

select.ng-invalid.ng-touched {
  border: solid 1px red;
}

textarea.ng-invalid.ng-touched {
  border: solid 1px red;
}